@mixin h-wrapper-mobile {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 540px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 767px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1300px;
    margin: auto;
  }
}

@mixin h-container-mobile {
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (min-width: 676px) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@mixin logo-type {
  font-family: retiro-std-24pt,  sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-bold {
  font-family: usual, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-regular {
  font-family: usual, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin body-bold {
  font-family: usual, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin body-regular {
  font-family: usual, sans-serif;
  font-weight: 400;
  font-style: normal;
}
