@mixin logo-type {
  font-family: retiro-std-24pt,  sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-bold {
  font-family: usual, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin heading-regular {
  font-family: usual, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin body-bold {
  font-family: usual, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin body-regular {
  font-family: usual, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*----------------------------------------------
# HEADINGS
------------------------------------------------*/

* h1#logo {
  @include logo-type;
  font-size: 27px;
  color: var(--highlight-primary-3);
}

* h1 {
  transition: all 0.5s ease-in-out;
  @include heading-regular;
  text-transform: uppercase;
  font-size: 17px;
  color: var(--text-1);
  line-height: 1.2em;
  margin: 0;
}

* h3 {
  @include body-regular;
  font-size: 12px;
  color: var(--text-1);
  line-height: 1.2em;
}

* h2 {
  @include heading-regular;
  font-size: 20px;
  color: var(--text-1);
  line-height: 1.4em;
}

/*----------------------------------------------
# PARAGRAPHS
------------------------------------------------*/

* p {
  @include body-regular;
  line-height: 1.4em;
  color: var(--text-1);
  font-size: 17px;
}

* p.mime {
  @include body-regular;
  line-height: 1.75em;
  color: var(--text-1);
  font-size: 14px;
}
