@import "../misc/mixins";

.headshot__container {
  @include h-wrapper-mobile;
  margin-top: 3vh;
  position: relative;
}

.headshot__wrap {
  border: 4px solid var(--highlight-primary-1);
  display: inline-block;
  font-size: 0;

  img {
    vertical-align: bottom !important;
    display: block;
  }
}

.logo__accent {
  position: absolute;
  background: var(--highlight-primary-1);
  width: 60%;
  height: 70%;
  left: 0;
  top: 60%;
  display: flex;
  justify-content: flex-end;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
      @include logo-type;
      color: var(--text-3);
      padding: 7px 10px;
      font-size: 30px;
    }
  }
}

.prof__circle {
  position: absolute;
  top: 10%;
  left: calc(50% + 70px);
  height: 300px;
  width: 300px;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;

  svg {
    fill: var(--highlight-primary-1);
  }
}

.accent {
  height: 152px;
  width: 20px;
  background: var(--highlight-primary-1);
  position: absolute;
  right: 0;
  bottom: 0;
}

.excerpt {
  @include h-wrapper-mobile;
  margin-top: 10vh;
  max-height: 30vh;
  overflow-y: auto;

  h2 {
    @include heading-bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 1.7em;
  }

  button {
    @include body-regular;
    color: var(--highlight-primary-1);
    font-size: 14px;
    margin-top: 7px;
  }
}

.prompt {
  @include h-wrapper-mobile;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
