@import "../misc/mixins";

.headshot__container {
  @include h-wrapper-mobile;
  margin-top: 3vh;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 0;
    width: 100%;
    margin-top: 0;
    min-width: 300px;
  }

  @media screen and (min-width: 1300px) {
    min-width: 400px;
  }
}

.headshot__wrap {
  border: 4px solid var(--highlight-primary-1);
  display: inline-block;
  font-size: 0;

  img {
    vertical-align: bottom !important;
    display: block;

    @media screen and (min-width: 768px) {
      height: 225px;
      width: 225px;
    }

    @media screen and (min-width: 1300px) {
      height: 350px;
      width: 350px;
    }
  }
}

.logo__accent {
  position: absolute;
  background: var(--highlight-primary-1);
  width: 60%;
  height: 70%;
  left: 0;
  top: 60%;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1024px) {
    width: calc(var(--vw) * 0.35);
    left: -10vw;
    height: 30%;
    max-height: 100px;
    top: 20vh;
  }

  @media screen and (min-width: 1400px) {
    max-height: 200px;
    top: 30vh;
    width: calc(var(--vw) * 0.4);
  }

  @media screen and (min-width: 1300px) {
    width: auto;
    right: 0;
    left: unset;
    top: calc(100% - 10vh);
    height: 17.5vh;
    bottom: 0;
    width: 20000px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
      @include logo-type;
      color: var(--text-3);
      padding: 7px 10px;
      font-size: 30px;
    }
  }
}

.prof__circle {
  position: absolute;
  top: 10%;
  left: calc(50% + 70px);
  height: 300px;
  width: 300px;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;

  svg {
    fill: var(--highlight-primary-1);
  }

  @media screen and (min-width: 768px) {
    top: 10%;
    left: calc(75% + 25px);
    height: 400px;
    width: 400px;
  }

  @media screen and (min-width: 1024px) {
    top: unset;
    left: unset;
    bottom: -14vw;
    right: -7vw;
    height: 500px;
    width: 500px;
  }
}

.accent {
  height: 152px;
  width: 20px;
  background: var(--highlight-primary-1);
  position: absolute;
  right: 0;
  bottom: 0;

  @media screen and (min-width: 1024px) {
    bottom: unset;
    top: 0;
  }
}

.excerpt__container {
  @include h-wrapper-mobile;
  margin-top: 10vh;

  @media screen and (min-width: 1024px) {
    padding: 0;
    margin-top: 10vh;
    margin-left: 4vw;
  }

  @media screen and (min-width: 1300px) {
    margin-left: 10vw;
  }

  h2 {
    @include heading-bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  button {
    @include body-regular;
    color: var(--highlight-primary-1);
    font-size: 14px;
    margin-top: 7px;
    z-index: 499;
  }
}

.excerpt {
  max-height: 25vh;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    max-height: 33vh;
  }

  @media screen and (min-width: 1024px) {
    max-height: unset;
  }

  p {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 1.7em;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
}

.prompt {
  @include h-wrapper-mobile;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;

  @media screen and (min-width: 1024px) {
    position: absolute;
    display: none;
  }
}

.prompt__desktop {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: flex-start;
    margin-top: 4vh;
  }

  @media screen and (min-width: 1400px) {
    margin-top: 7vh;
  }
}

.about__excerpt {
  @media screen and (min-width: 1024px) {
    display: flex;
    @include h-wrapper-mobile;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
