@import "../misc/mixins.scss";

.form__container {
  @include h-wrapper-mobile;
  margin-top: 40px;
  max-height: 60vh;

  button {
    background: var(--text-1);
    padding: 10px 30px;
    @include body-regular;
    color: var(--text-3);
    letter-spacing: 0.025em;
  }
}

.form__head {
  @include h-wrapper-mobile;
  margin-top: 20px;
  max-height: 25vh;
  overflow-y: auto;

  span {
    color: var(--highlight-primary-1);
    @include body-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 7px;
    display: block;
    font-size: 14px;
  }

  h2 {
    @include body-bold;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-1);
    
  }

  h4 {
    @include body-bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: 20px;
    margin-bottom: 7px;
    color: var(--text-1);
  }

  p {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 7px;
    color: var(--text-1);
  }
}
