@import "../misc/mixins";

/*
  ================================
  HEADER CONTAINER
  ================================
*/

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50000;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(3px);
    backdrop-filter: saturate(180%) blur(3px);
  }
}

.header {
  padding: 17px 0;
  @include h-wrapper-mobile;
  display: flex;
  justify-content: space-between;

  width: 100%;
  transition: 0.2s ease-in-out;
  z-index: 600;
  border-bottom: 1px solid rgba($color: var(--elevation-1), $alpha: 0);

  @media screen and (min-width: 768px) {
    padding: 25px 0;
    @include h-wrapper-mobile;
  }

  @media screen and (min-width: 1024px) {
    padding: 0;
    @include h-wrapper-mobile;
    align-items: center;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: -1;
  //   transition: 0.2s ease-in-out;
  //   background: rgba(255, 255, 255, 0.8);
  //   -webkit-backdrop-filter: saturate(180%) blur(3px);
  //   backdrop-filter: saturate(180%) blur(3px);
  // }
}

.header__container__scrolled {
  @extend .header__container;
  border-bottom: 1px solid var(--elevation-3);
}

/*
  ================================
  LOGO
  ================================
*/

.logo {
  font-size: 27px;
  color: var(--highlight-primary-3);
  font-family: retiro-std-24pt,  sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.logo__secondary {
  font-family: usual, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.025em;

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }

  @media screen and (min-width: 1024px) {
    width: 300px;
  }
}

.logo__copyright {
  font-weight: 400;
  transform: translateY(-3px);
  font-size: 10px;
  display: inline-block;
  letter-spacing: 0;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.logo__copyright__footer {
  @media screen and (min-width: 1024px) {
    display: inline-block;
  }
}
/*
  ================================
  SOCIAL NAVIGATION
  ================================
*/

.nav__social {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1024px) {
  }

  ul {
    display: flex;
    max-height: 32px;

    li {
      margin-left: 20px;
    }
  }

  li a {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 18px;
    height: 18px;

    @media screen and (min-width: 768px) {
      width: 21px;
      height: 21px;
    }
  }

  svg {
    width: 100%;
    fill: var(--text-1);
  }
}

/*
  ================================
  MAIN NAVIGATION
  ================================
*/

.nav__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 1024px) {
    position: relative;
  }
}

.nav__main {
  @include h-wrapper-mobile;
  // background: var(--elevation-2);
  border-top: 1px solid var(--elevation-3);
  // box-shadow: var(--shadow);
  z-index: 500;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);

    @media screen and (min-width: 1300px) {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;

    @media screen and (min-width: 1024px) {
      max-width: calc(var(--vw) * 0.4);
      max-width: 500px;
    }
  }

  ul label {
    @include body-regular;
    font-size: 10px;
    margin-top: 3px;
    color: var(--text-1);
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      @include body-bold;
      font-weight: 600;
      letter-spacing: 0.05em;
    }
  }

  ul li button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 55px;

    &.active {
      filter: brightness(100%) !important;

      &::after {
        content: "";
        width: 100%;
        height: 7px;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--highlight-primary-1);
      }
    }

    &.active label {
      color: var(--highlight-primary-1);
    }

    &.active svg {
      fill: var(--highlight-primary-1);
    }

    @media screen and (min-width: 1024px) {
      padding: 20px 0;
      width: auto;
      min-width: 40px;

      &.active::after {
        display: none;
      }
    }
  }

  ul li span {
    width: 17px;
    display: block;

    @media screen and (min-width: 768px) {
      width: 21px;
    }
  }

  ul button svg {
    fill: var(--text-1);
    width: 100%;

    @media screen and (min-width: 1024px) {
      display: none;
      height: 17px;
      width: 17px;
    }
  }

  @media screen and (min-width: 1024px) {
    border-top: 0;
    padding: 0;

    ul {
      margin-right: 0;
    }
  }
}

.button__default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 55px;
}

.button__active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 55px;
  position: relative;

  label {
    color: var(--highlight-primary-1) !important;
  }

  span svg {
    fill: var(--highlight-primary-1);
  }

  label svg {
    fill: var(--highlight-primary-1) !important;
  }

  &::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--highlight-primary-1);

    @media screen and (min-width: 768px) {
      top: unset;
      bottom: 0;
    }
  }
}

/*
  ================================
  FOOTER
  ================================
*/

.footer__container {
  @media screen and (min-width: 1024px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.footer {
  p {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    padding: 25px 0;
    @include h-wrapper-mobile;
    border-top: 1px solid var(--elevation-2);
    display: flex;
    justify-content: space-between;

    p {
      display: block;
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      transition: 0.2s ease-in-out;
      background: rgba(255, 255, 255, 0.8);
      -webkit-backdrop-filter: saturate(180%) blur(5px);
      backdrop-filter: saturate(180%) blur(5px);
    }
  }
}
