@import "../misc/mixins";

.portfolio__head {
  @include h-wrapper-mobile;
  margin-top: 20px;
  max-height: 25vh;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    padding: 0;
    flex: 1;
    max-height: unset;
  }

  span {
    color: var(--highlight-primary-1);
    @include body-bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 7px;
    display: block;
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  h2 {
    @include body-bold;
    font-size: 30px;
    font-weight: 600;
  }

  h4 {
    @include body-bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 00.025em;
    margin-top: 20px;
    margin-bottom: 7px;
  }

  p {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 7px;
  }
}

.cards__container {
  @include h-wrapper-mobile;
  margin-top: 4vh;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 350px;
    margin-top: 0;
  }

  @media screen and (min-width: 1024px) {
    width: 675px;
  }

  ul {
    max-height: 70vh;
    overflow-y: auto;
  }
}

.portfolio__flex {
  @media screen and (min-width: 768px) {
    @include h-wrapper-mobile;
    display: flex;
    margin-top: 6vh;
  }
}

.portfolio__actions {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
    margin-top: 10vh;

    button {
      width: 60px;
      height: 60px;
      background: var(--text-1);
      margin-right: 10px;
  
      svg {
        width: 25px;
        height: 25px;
        fill: var(--text-3);
      }
    }
  }

}